/* Table of Contents
----------------------------------------------
- General Content
- Layout
- Typography
- Header
- Menu / Navigation
- Contact Form
- Images & Media
- Footer
- Loading
- Media Queries
---------------------------------------------- */


/* --------------------------------------------- GENERAL CONTENT ------------------------------------------ */
@charset "UTF-8";
*{
  margin:auto;
}

.bordered {
	border-bottom: 1px solid #976E1D;}
	
.walled {
	border-left: 1px solid #976E1D;
	border-right: 1px solid #976E1D;
	padding: 20px;
}

/* ------------------------------------------------- LAYOUT ----------------------------------------------- */

/* ----------- Home ------------ */

#fullpage{
  z-index: 999;
}


/* ----------- SKELETON ------------ */

.skcontainer {
  position: relative;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.skrow{padding: 2% 0;}
  
/* For devices larger than 400px */
@media (min-width: 400px) {
  .skcontainer {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .skcontainer {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

}

.skcontainer h2 p {
	text-align: center;
}

/* ------ Self Clearing Goodness ------ */
.skcontainer:after,
.skrow:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* ------------------------------------------------ Typography -------------------------------------------- */
@font-face {
  font-family: 'Barrio';
  src: url('https://fonts.googleapis.com/css?family=Barrio|Lato:400,900,700,300,100');
}
body{
  font-family: 'Lato', sans-serif;
  background-color: black;
}

h2.bio{
	font-size: 2.5em;
	margin: 20px 0px 40px 0px;
	color:#D60E43;
	font-family: 'Barrio', sans-serif;
}
p.bio{
	color:#dad3db;
	margin-bottom: 25px;}

h2.testimonials{
	font-size: 2.5em;
	text-align: center;
	color: #D60E43;
	font-family: 'Barrio', sans-serif;
}
p.testimonials{
	text-align: center;
	color:#dad3db;
	margin: 20px;
	padding: 0px 20px 0px 20px;}
	
	
	
/* -------------------------------------------- Images & Media ––––––––––––––––––––––––––––––––––––––––––––––– */

img{max-width: 100%;}

#canvas-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../img/deadpool1.jpg");
    background-position-x: 50%;
    background-size: cover;
}

#carl{
	border-radius: 600px;
	border: 5px solid #dad3db;
	margin: 20px 30px 50px 0px;
}

img.testimonials{
	display: block;
	margin-bottom: 30px;
	border-radius: 500px;
	border: 4px solid #dad3db;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

/* -------------------------------------------------- Header –––––––––––––––––––––––––––––––––––––– */

/* -- Logo -- */
.home{
  font-family: 'Barrio', sans-serif;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
  display: none;
}
.home a{
  text-decoration: none;
  color: white;
  font-size:3em;
  border-bottom: 1px solid rgba(0,0,0,0);
  transition: padding-bottom 0.3s ease-out, border-color 0.3s ease-out;
  outline: none;
}
.home a:hover, .home a:active, .home a:focus{
  border-color: #D60E43;
  padding-bottom: 30%;
  transition: padding-bottom 0.3s ease-out;
}


/* -- Social --*/

.social-share{
  position: fixed;
  z-index: 1000;
  bottom: 5%;
  left: 5%;
  width: 15%;
}
.social-share a{
  margin-right: 15%;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-out;
  outline: none;
}
.social-share a:hover, .social-share a:focus, .social-share a:active{
  color: #D60E43;
  transition: color 0.3s ease-out;
}

/* -- Home -- */



/* --------------------------------------------- Menu / Navigation –––––––––––––––––––––––––––––––––––––– */

.menu{
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  text-align: right;
  top: 5%;
  width: 100%;
  opacity: 0;
  display: none;
  z-index: 1000;
}
.menu li{
  display: inline-block;
  margin-right: 2.5%;
  text-shadow: 0 0 4px #000000;
}
.menu li a{
  text-decoration: none;
  color: white;
  border-bottom: 1px solid rgba(0,0,0,0);
  transition: padding-bottom 0.3s ease-out, border-color 0.3s ease-out;
  outline: none;
}
.menu li a:hover, .menu li a:focus,.menu li a:active{
  padding-bottom: 20%;
  border-color: #D60E43;
  transition: padding-bottom 0.3s ease-out;
}
.menu-picto{
  color: white;
  position: fixed;
  z-index: 1000;
  right: 5%;
  top: 5%;
  cursor: pointer;
  transition : color 0.3s;
}
.menu-picto p{
  position: absolute;
  top: 0;
  right: 200%;
}
.menu-picto i{
  position: relative;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-out;
}
.menu-picto .fa-times:hover{
  transform: rotate(180deg);
  transition: transform 0.3s ease-out;
}
.menu-picto:hover{
  color: #D60E43!important;
  transition : color 0.3s;
}

/* ------------------------------------------------ Contact Form -------------------------------------------- */


/**** STYLE POP UP ****/
.pop-up-background{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.92);
  left: 0;
  z-index: 10001;
  overflow: hidden;
  display: none;
}
.contact-form{
  position: fixed;
  top: 0;
  width: 70%;
  margin-left: 15%;
  z-index: 10002;
  text-align: center;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  display: none;
}
.contact-form h2{
  color: white;
}
.contact-form h3{
  color: white;
  opacity: 0.4;
  font-weight: 300;
  margin: 1% 0 5%;
}
.contact-form form{
  overflow: hidden;
}
.form-div{
  margin: 0 1.5% 3%;
  width: 31.33%;
  float: left;
}
.form-div:first-child{
  margin-left: 0;
}
.form-div:nth-child(3){
  margin-right: 0;
}
.form-div label{
  color: white;
  opacity: 0.4;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 12px;
}
.form-div textarea{
  color: white;
  background-color: rgba(0, 0, 0, 0);
  float: left;
  margin-bottom: 12px;
  text-align: left;
  width: 97.5%;
  border: 1px solid white;
  font-family: "Lato",sans-serif;
  transition: border-color 0.3s ease-out;
  padding: 1%;
}
.form-div textarea:focus, .form-div textarea:active{
  border: 1px solid #B91F42;
  transition: border-color 0.3s ease-out;
}
.form-div input{
  border-style: none none solid;
  border-width: 0 0 1px;
  color: white;
  float: left;
  opacity: 1;
  padding-bottom: 5px;
  transition: border-color 0.3s ease-out, width 0.3s ease-out;
  width: 100%;
  font-size: 1.1em;
  background-color: rgba(0,0,0,0);
}
.form-div input:focus, .form-div input:active{
  border-color: #B91F42;
  width: 90%;
  transition: border-color 0.3s ease-out, width 0.3s ease-out;
}
.form-div-unique{
  margin: 0;
  width: 100%;
  margin-bottom: 3%;
}
.form-div-unique input{
  width: 100%;
}
.contact-form .fa-times{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10003;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}
.contact-form .fa-times:hover{
  transform: rotate(180deg);
  color: #B91F42;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.works-pop-up{
  z-index: 10001;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
}
.works-pop-up a{
  width: 50%;
  float: left;
  padding: 6.325% 0;
  text-align: center;
  outline: none;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 2em;
  transition: background-size 5s ease-out;
}
.works-pop-up a:hover{
  background-size: 130%;
  transition: background-size 15s ease-out;
}
#close-works-pop-up{
  position: absolute;
  z-index: 10002;
  top: 5%;
  right: 5%;
}
.works-pop-up .fa-times{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10003;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}
.works-pop-up .fa-times:hover{
  transform: rotate(180deg);
  color: #B91F42;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}


/* Sending messages */

.mess-send{
  background-color: rgba(0, 0, 0, 0.9);
  color: green;
  font-size: 20px;
  padding: 23% 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.mess-not-send{
  background-color: rgba(0, 0, 0, 0.9);
  color: red;
  font-size: 20px;
  padding: 23% 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}


/* ------------------------------------------------ Footer –––––––––––––––––––––––––––––––––––––––––––––––––– */

.work-page-footer h2{
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  color: white;
  font-weight: 400;
  padding: 3% 0;
  overflow: hidden;
}
.work-page-footer h2 a{
  color: rgba(255,255,255,0.6);
  display: inline-block;
  margin: 0 1%;
  margin-bottom: 2.5%;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0);
  padding-bottom: 0.5%;
  transition: border-color 0.3s ease-out, color 0.3s ease-out;
  outline: none;
}
.work-page-footer h2 a:hover, .work-page-footer h2 a:focus, .work-page-footer h2 a:active{
  color: rgba(255,255,255,1);
  border-color: #D60E43;
  transition: border-color 0.3s ease-out, color 0.3s ease-out;
}
.work-page-footer h2 em{
  display: block;
  font-style: normal;
}


  
/* ------------------------------------------------ Loading –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
.loading{
  background-color: black;
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 10002;
  display: none;
}
.loadingcontainer{
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}
.loadingcontainer p{
  padding-bottom: 10px;
  font-size: 4em;
  font-family: 'Barrio', sans-serif;
  border-bottom: 1px solid #D60E43;
  display: block;
  animation: width 4s ease;
}
@keyframes width {
    0% { width: 20%; }
    100% { width: 100%; }
}
.loadingshadow{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 5%;
  -moz-box-shadow: 0px 0px 250px 100px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 250px 100px rgba(0,0,0,0.8);
  -o-box-shadow: 0px 0px 250px 100px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 250px 100px rgba(0,0,0,0.8);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=NaN, Strength=250);
  background-color: rgba(0,0,0,0.8);
  z-index: 10003;
}
.loadingleft{
  left: 0;
}
.loadingright{
  right: 0;
}

  
/* ------------------------------------------ Media Queries –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* ---------------------------------------------------- PARAPHRASE ME ------------------------------------------------- */

/**** STYLE DEFAULT ****/
h1, h2, .button{
  text-transform: uppercase;
}
.bodybg{
  background-color: #1a161b ;
}
.bodybg .social-share{
  opacity: 1!important;
  left: 5%!important;
}
.bodybg .home{
  opacity: 1!important;
  display: block!important;
}
.bodybg .menu-picto{
  opacity: 1!important;
  display: block!important;
  right: 5%!important;
}











/**** BUTTON ****/
.button{
  display: block;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  width: auto;
  outline: none;
  padding: 1% 3%;
  margin: auto;
  margin-top: 3%;
  width: 15%;
  transition: border-color 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}
.button:hover, .button:active, .button:focus{
  border-color: #B91F42;
  color: black;
  background-color: #B91F42;
  transition: border-color 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
}



/**** STYLE INDEX ****/

.container{
  position: relative;
  height: 100vh;
  width: 100%!important;
  padding: 0!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent !important;
  z-index: 999;
}
.container img{
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-width: 100%;
  height: 100vh;
}
.container-principal-text{
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 100;
  transform: translateY(-50%); 
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.container-principal-text h1{
  font-size: 6em;
  font-weight: 100;
  font-family: 'Barrio', sans-serif;
  margin: 0;
}
.container-principal-text h2{
  font-weight: 700;
  letter-spacing: 5px;
  margin-top: 2%;
}
.container-principal-text h2 strong{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.8em;
  opacity: 0.8;
  margin-top: 2px;
  font-style: italic;
}
.indicators-arrow{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5%;
  z-index: 999;
  left: 0;
}
.indicators-arrow a{
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  outline: none;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.indicators-arrow a i{
  margin: 1% 0;
}
.container-principal-text-real{
  color: white;
  text-align: left;
  display: block;
  width: 91%;
  margin: auto;
  position: absolute;
  z-index: 100;
  padding-left: 9%;
  transform: translateY(-50%); /* drawn from half its own height */
}
.arrow-container{
  color: white;
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 5%;
  margin-top: 50vh; /* half the height of viewport */
  transform: translateY(-50%); /* drawn from half its own height */
  z-index: 1001;
}
.arrow-container i{
  display: block;
  cursor: pointer;
  margin: 200% 0;
  transition: color 0.3s ease-out;
}
.arrow-container i:hover, .arrow-container i:focus, .arrow-container i:active{
  color: #D60E43;
  transition: color 0.3s ease-out;
}
.container-principal-text-real .button{
  margin: 0;
  margin-top: 3%;
  text-align: center;
  padding: 0.75% 1%;
}
.container-principal-text-real h3{
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 1%;
  border-bottom: 1px solid #D60E43;
  display: inline-block;
  padding-bottom: 1%;
  text-transform: uppercase;
}
.container-principal-text-real h2{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
  margin: 0;
}



/**** STYLE WORK ****/
.work-page h1{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-transform: uppercase;
  color: white;
  width: 100%;
  text-align: center;
  padding-left: 0!important;
  padding-right: 0!important;
  font-size: 6em;
}
.work-page h1 strong{
  font-size: 0.3em;
  font-weight: 400;
  display: block;
  margin-top: 2%;
  opacity: 0.8;
}
.container-work{
  width: 80%;
  margin: auto;
  position: relative;
}
.container-work a{
  text-align: center;
  margin-bottom: 5%;
  color: white;
  outline: none
}
.container-work-info{
  width: 33.33%;
  text-align: center;
  color: white;
  float: left;
  margin: 7% 0;
}
.container-work-info strong{
  display: inline-block;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 1%;
  opacity: 0.8;
}
.container-work img{
  width: 75%;
  margin:auto;
  display: block;
  height: auto;
  margin-bottom: 5%;
  -webkit-box-shadow: 0 17px 29px -6px #000000;
  -moz-box-shadow: 0 17px 29px -6px #000000;
  box-shadow: 0 17px 29px -6px #000000;
  transition: filter 0.4s;
}
.object-float{
  box-shadow: none!important;
  width: 35%!important;
  position: absolute;
  z-index: 999;
}
.object-float-1{
  top: 11%;
  width: 25%!important;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  transition: filter 0.4s;
}
.object-float-2{
  top: 19%;
  width: 40%!important;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  transition: filter 0.4s;
}
.object-float-3{
  top: 32%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  transition: filter 0.4s;
}
.object-float-1:hover, .object-float-2:hover, .object-float-3:hover{
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  transition: filter 0.4s;
}
.blurimg{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition: filter 0.4s;
}
.object-float-left{
  left: -4%;
}
.object-float-left:last-child{
  left: 0.5%;
}
.object-float-right{
  right: -5%;
}
.object-float-right:last-child{
  right: 2%;
}
.container-work p{
  background-color: #202020;
  color: white;
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  overflow: hidden;
  padding: 5% 0;
  text-align: center;
  width: 100%;
  margin-bottom: 3%;
}
.container-work p a{
  font-size: 0.8em;
  margin-bottom: 0;
}
.container-work ul{
  display: block;
  text-align: center;
  margin-top: 7%;
  padding: 0;
}
.container-work ul li{
  color: white;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  list-style-type: none;
  margin: 0 3%;
  text-align: center;
}
.container-work ul li strong{
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 1%;
  opacity: 0.8;
}
.indicators-arrow-work{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 0;
}
.indicators-arrow-work a{
  color: white;
  text-decoration: none;
  opacity: 0.8;
  outline: none;
}
.indicators-arrow-work a:hover{
  opacity: 1;
}
.indicators-arrow-work a i{
  margin-top: 10px;
}
.container-work-contact{
  text-align: center;
  color: white;
  padding: 3% 0;
  background-color: #202020;
  margin-top: 5%;
}
.container-work-contact .button{
  margin-top: 2%;
}
.container-work-contact h3 strong{
  opacity:0.8;
  display: block;
  font-size: 0.8em;
  margin-top: 1%;
  font-weight: 400;
}
.container-work-project a{
  width: 50%;
  float: left;
  padding: 6% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-align: center;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  transition: background-position 3s;
  outline: none;
}
.container-work-project a:first-child:hover{
  background-position: bottom;
  transition: background-position 5s;
}
.container-work-project strong{
  font-size: 0.5em;
  vertical-align: middle;
}
.container-work-project strong i{
  display: inline-block;
  margin-right: 1%;
  color: #B91F42;
}








/**** STYLE ABOUT ****/
#containerhomeabout{
  height: 60vh;
}
#containerhomeabout .container-principal-text{
  margin-top: 35vh;
}









